#rouge{
  background-color: #c0392b;
}

#bleu{
  background-color: #2980b9;
}

#blanc{
  background-color: #ecf0f1;
}

body{
  background-image: url("../images/bg.jpg");
  text-align: center;
}

h1{
  font-size: 8vw;
}

#iut{
  background-position: center;
  height: 200px;
  background-image: url(../images/logo-iut.jpg);
  background-repeat: no-repeat;
  background-size: 300px;

}

table{
  border:2px solid lightgrey;
}

td:first-child{
  background-color: lightgrey;
}

td{
  border:2px solid lightgrey;
}

@media screen and (max-width: 480px) {

  body{
    background-color: #95a5a6;
  }

  img{
    max-width: 100%;
  }

  table tr, table td{
    display: list-item;
    list-style-type: none;
  }

  table{
    width:100%;
  }

}
