#rouge{
  background-color: #c0392b;
}

#bleu{
  background-color: #2980b9;
}

#blanc{
  background-color: #ecf0f1;
}

body{
  text-align: center;
}

h1{
  font-size: 8vw;
}

.img_iut{
  width: 300px;
  margin: auto;
}

@media screen and (min-width: 320px) and (max-width: 480px) {

  img{
    max-width: 100%;
  }

}
