#rouge{
  background-color: #c0392b;
}

#bleu{
  background-color: #2980b9;
}

#blanc{
  background-color: #ecf0f1;
}

body{
  text-align: center;
}

h1{
  font-size: 8vw;
}

/*.img_iut{
  width: 300px;
  margin: auto;
}*/

#iut{
  height: 400px;
  background-image: url(../images/logo-iut.jpg);
  background-repeat: no-repeat;
  background-size: 300px;

}

table{
  border:2px solid lightgrey;
}

td:first-child{
  background-color: lightgrey;
}

td{
  border:2px solid lightgrey;
}

@media screen and (min-width: 320px) and (max-width: 480px) {

  body{
    background-color: #95a5a6;
  }

  img{
    max-width: 100%;
  }

}
