#rouge{
  background-color: #c0392b;
}

#bleu{
  background-color: #2980b9;
}

#blanc{
  background-color: #ecf0f1;
}

@media handheld and (max-width: 480px) {

  img, table, td, blockquote, code, pre, textarea, input, iframe, object, embed, video {
    max-width: 100%;
  }

}
