*{
  margin:auto;
  font-family: Arial, Helvetica, sans-serif;
  color:white;
}

body{
  width: 100%;
  background-color: black;
  background-image: url("../img/wiskey4.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

a{
  text-decoration: none;
}

a:hover{
  color: rgba(52, 152, 219,1.0);
}

h2, h1{
  color: #f5f5dc;
}


/***********************/
/*ENTETE : MENU ET LOGO*/
/***********************/

header{
  background-color: rgba(200,112,38,0.6);
  width: 100%;
  height: 150px;
  line-height: 150px;
  border-bottom: 3px solid black;
}
header img{
  display: inline-block;
  margin-left:2%;
  float: left;
}
header nav{
  display: inline-block;
  list-style-type: none;
  float: right;
}
header ul li{
  display: inline-block;
  font-family: Avantgarde, sans-serif;
  color: #bdc3c7;
  margin-left: 5rem;
}
header ul{
  float: left;
  margin-right: 10rem;
}
header form{
  float: right;
  margin-right: 5rem;
}
header input[type=text]{
  width: 150px;
  color: grey;
}

/**********/
/*BANNIERE*/
/**********/

#banniere{
  height:650px;
  width: 100%;
  background-image: url("../img/40bcf93c6b304a1188ddb371c2992ac5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 2px 5px #a0591d;
  border-radius: 0px 0px 10px 10px;
}

/************************************/
/*PREMIER PARAGRAPHE DE PRESENTATION*/
/************************************/

#intro{
  padding-top: 2%;
  margin-top: 3%;
  width: 1200px;
  background-color: rgba(200,112,38,0.6);
  border: 5px solid #DADADB;
}
#intro h1{
  text-align: center;
  text-transform: uppercase;
}
.presentation{
  text-align: justify;
  padding: 3rem;
}

/********************/
/*LISTE DES PRODUITS*/
/********************/

#article{
  width: 100%;
  display: inline-block;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: rgba(52, 73, 94,0.5);
  border-radius: 5px;
}
figure img{
  width: 80%;
  border-radius: 10px;
  border: 5px solid black;
  box-shadow: 0 0 1em black;
}
.produit figure{
  width: 25%;
  float: left;
}
.produit figcaption{
  width: 80%;
  text-align: left;
  padding: 5px;
  background-color: rgba(149, 165, 166,0.5);
  border: 2px solid white;
  box-shadow: 0 0 2em black;
}
.produit figure h1{
  /*border-bottom: 5px solid black;*/
  font-size: 25px;
  width: 85%;
  height: 80px;
  margin-bottom: 2rem;
}

/********************/
/*MAPS ET FORMULAIRE*/
/********************/

#extra{
  display: inline-block;
  width: 100%;
  padding-top : 1rem;
  padding-bottom: 3rem;
  background-color: rgb(200,112,38)
}
#map, #formulaire{
  text-align: center;
  float: left;
  width: 599px;
  line-height: 40px;
}
#map h2,#formulaire h2{
  text-align: center;
  padding-bottom: 30px;
}
#map{
  border-right: 1px solid black;
}
iframe{
  max-width: 90%;
  box-shadow: 0 0 1em black;
}
#formulaire{
  text-align: left;
}
#formulaire form{
  width: 90%;
}
#formulaire input[type=text],#formulaire input[type=date]{
  width: 45%;
}
#formulaire input[type=email],#formulaire textarea{
  width: 90%;
}
#formulaire input{
  color: black;
}

/********/
/*FOOTER*/
/********/

footer{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: rgba(52, 73, 94,0.5);
  border-radius: 5px;
}
