*{
  margin:auto;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

body{
  width: 100%;
  background-color: black;
}

#header{
  background-color:#2c3e50;
  width: 100%;
  height: 150px
}
#header img{
  display: inline-block;
  margin-left:2%;
  position: fixed;
}
#header nav{
  position: fixed;
  display: inline-block;
  list-style-type: none;
  width: 90%;
}
#header ul li{
  display: inline-block;
  margin-left: 10%;
  font-family: Avantgarde, sans-serif;
  color: #bdc3c7;
}
#header ul{
  position: fixed;
  top: 7%;
  left: 50%;
  width: 600px;
}
#header form{
  position: fixed;
  top:6%;
  left:85%;
}
#header input[type=text]{
  width: 150px;
}

#banniere{
  height:500px;
  width: 70%;
  background-image: url("../img/couverture-facebook-bouteille-jack-daniels.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

#produits{
  width: 96%;
}
#produits h1{
  text-transform: uppercase;
  color: white;
}
