*{
  margin:auto;
  font-family: Arial, Helvetica, sans-serif;
  color:white;
}

body{
  width: 100%;
  background-color: black;
}

header{
  background-color:#2c3e50;
  width: 100%;
  height: 150px;
  line-height: 150px;
  border-bottom: 3px solid black;
}
header img{
  display: inline-block;
  margin-left:2%;
  float: left;
}
header nav{
  display: inline-block;
  list-style-type: none;
  float: right;
}
header ul li{
  display: inline-block;
  font-family: Avantgarde, sans-serif;
  color: #bdc3c7;
  margin-left: 5rem;
}
header ul{
  float: left;
  margin-right: 10rem;
}
header form{
  float: right;
  margin-right: 5rem;
}
header input[type=text]{
  width: 150px;
  color: grey;
}

#banniere{
  height:650px;
  width: 100%;
  background-image: url("../img/40bcf93c6b304a1188ddb371c2992ac5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 5px 5px #7f8c8d;
  border-radius: 0px 0px 10px 10px;
}

#intro{
  padding-top: 2%;
  margin-top: 3%;
  width: 60%;
  background-color: #2A2C2F;
  border: 5px solid #DADADB;
}
#intro h1{
  text-align: center;
  text-transform: uppercase;
  color: white;
}
.presentation{
  text-align: justify;
  padding: 3rem;
}

#article{
  width: 100%;
  display: inline-block;
  text-align: center;
  padding-top: 2rem;
  background-color: rgba(52, 73, 94,0.5);
}
figure img{
  width: 80%;
  border-radius: 10px;
  border: 5px solid black;
}
.produit figure{
  width: 25%;
  float: left;
}
.produit figcaption{
  width: 80%;
  text-align: left;
  padding-top: 15px;
}
.produit figure h1{
  border-bottom: 5px solid black;
  font-size: 25px;
  width: 85%;
  height: 80px;
  margin-bottom: 2rem;
}
